

//轮播图
.detail-banner{
    height: 4.35rem;
    .swiper-slide{
        width: 2.9rem!important;
        margin-right: 10px;
    }
    .swiper-slide:first-child{
        margin-left: 10px;
    }
}

//商品信息
.primaryInfo{
    width: 3.75rem;
    background: #fff;
    .info-title{
        height: .42rem;
        margin-top: .19rem;
        padding: 0 .1rem;
        font-size: 16px;
        color: #424242;
        line-height: .2rem;
    }
    .info-price{
        height: .22rem;
        margin-top: .12rem;
        padding: 0 .1rem;
        .now{
            font-size: .22rem;
            color: #f69;
        }
        .market{
            line-height: 14px;
            margin: 7px 0 0 7.5px;
            color: #999;
            font-size: 14px;
            text-decoration: line-through;
        }
        .discount{
            height: 16px;
            line-height: 16px;
            margin: 0 0 0 7.5px;
            padding: 0 6px;
            color: #fff;
            font-size: 12px;
            background: #f69;
            border-radius: 10px;
        }
    }
    .info-other{
        width: 3.55rem;
        height: .13rem;
        margin: .2rem .1rem .1rem;
        display: flex;
        font-size: .14rem;
        color: #999;
        justify-content: space-between;

    }
    .services{
        height: .62rem;
        .services-info{
            margin: 0 .1rem;
            padding: .17rem 0;
            border-top: 1px solid #eee;
            .services-item{
                font-size: 14px;
                margin-right: 10px;
                float: left;
                img{
                    width: 14px;
                    float: left;
                    margin-right: 4px;
                }
                span{
                    float: left;
                }
            }
            i{
                float: right;
                color: #999;
            }
        }
        
    }
}

.goodDetail{
    padding-bottom: .65rem;
}

//底部购买栏
.detailFooter{
    position: fixed;
    width: 100%;
    height: .58rem;
    bottom: 0;
    background: #fff;
    display: flex;
    .foot-L{
        display: flex;
        flex: 1;
        font-size: 12.5px;
        color: #999;
        //justify-content: space-between;
        >*{
            flex:1;
            display: flex;
            justify-content: center;
            flex-flow: column;
            align-items: center;
        }
        i{
            display: block;
            height: 25px;
            width: 22.5px;
        }
        .foot-im{
            i{   
                background: url(http://s17.mogucdn.com/p1/160518/upload_ifqtoztggfqtsyjzhazdambqgyyde_44x300.png) no-repeat 0 -53px;
                background-size: 22px;
            }
        }
        .foot-shop{
            i{   
                background: url(http://s17.mogucdn.com/p1/160518/upload_ifqtoztggfqtsyjzhazdambqgyyde_44x300.png) no-repeat 0 -100px;
                background-size: 22px;
            }
        }
        .foot-fav{
            i{   
                background: url(http://s17.mogucdn.com/p1/160518/upload_ifqtoztggfqtsyjzhazdambqgyyde_44x300.png) no-repeat 0 0px;
                background-size: 22px;
            }
        }
    }
    .foot-buy{
        width: 1.88rem;
        display: flex;
        flex: 1;
        font-size: 16px;
        text-align: center;
        line-height: .58rem;;
        >*{flex:1}
        .buy-cart{
            background: #ffe817;
            color: #333;
        }
        .buy-now{
            background: #f69;
            color: #fff;
            font-weight: 400;
        }
    }
}

// 商品详情

.detail-tabpanel{
    margin-top: 5px;
    width: 100%;
    padding-top: 10px;
    background: #fff;
    .tabpanel-top{
        height: .46rem;
        .tabpanel-tabs{
            display: flex;
            .tab-item{
                flex: 1;
                text-align: center;
                line-height: 15px;
                font-size: 15px;
                color: #333;
                padding: 15px 0;
            }
            .active{
                font-weight: 700;
            }
        }
    }
    .tabpanel-panels{
        
        .panels-item{
            margin-top: 20px;
            .desc{
                padding: 0 15px;
                p{
                    padding: 15px 0;
                }
            }
            .pics{
                margin-top: 7.5px;
                span{
                    font-size: 15px;
                    color: #303030;
                    padding: 0 15px;
                    height: 25px;
                    display: block;
                    line-height: 25px;
                }
                .pic-list{
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
}
