.shop-car{
    background:#f4f4f4;height:650px;
    >.top{
        height:.44rem;display: flex;justify-content: space-around;
        align-items:center;font-size:18px;background:#fff;
        >.top-login{
            width:2rem;text-align: center;
        }
    }
    >.empty-car{
        padding-top:.5rem;text-align:center;
        >.btn{
            margin:.2rem auto;display: block;
            border-radius: .015rem;width:.8rem;height:.35rem;
            background-color: #f66;line-height:.35rem;
            color: #fff;font-size:.16rem;
        }
    }
}