
.app-footer{
    height: .5rem;
    width: 100%;
    background: #fff;
    border-top: 1px solid #e5e5e5;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    a{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        color: #999;
        font-size: 13px;
        i{
            font-size: 22px;
        }
        &.active{
            color: #f36;
        }
    }
}