.navlist{
    padding:.3rem .1rem;height:1.51rem;background:#fff;
    display:flex;justify-content:space-between;align-items:center;
    margin-bottom:.1rem;
    >div{
        width:3.5rem;
        >img{
            width:.8rem;height:.8rem;
        }
        >p{
            font-size:.12rem;padding-top:.12rem;padding-left:.1rem

        }
    }
}