.goodlist{
    background:#fff;margin-bottom:50px;
    .title{
        display:flex;color:#666;font-size:14px;justify-content:space-around;
        height:40px;align-items:center;
        >span{
            height:24px;padding:0 5px;
            &.active{
                border-bottom: 2px solid #FF3366;
            }
        }    
    }
    .listbox{
        padding:0 5px;display:flex;justify-content:space-between;flex-wrap:wrap;
        .imgbox{
            width:1.78rem;display:block;
            >img{
                width:1.78rem;height:240px;
            }
            >p{
                width: 100%;
                margin-top: 0.1rem;
                font-size: 12px;
                white-space: nowrap;
                text-overflow: ellipsis;
                text-align: center;
                overflow: hidden;
                height: .17rem;
                color: #666;
            }
            >div{
                display: flex;justify-content: center;font-size: 0.13rem;
                margin-bottom:.2rem;
                >.price{
                    color: #FF3366;text-align: center;
                     margin-right: 0.1rem;
                }
            }
        }
    }
    .am-list-body{width:100%}
    .list-view-section-body{
        display:flex;justify-content:space-between;flex-wrap:wrap;
    }
    .backTop{
        position: fixed;display:block;width:50px;height:50px;border-radius:50%;
        bottom:1rem;right:20px;color:#FF3366;background:#fff;
        font-size:30px;line-height:50px;text-align:center;
    }
}